<div>
  <div class="relative top-0 w-full">
    <app-header ></app-header>
  </div>
  <!--Splitter-->
  <div class="absolute w-full h-full">
    <p-splitter  [minSizes]="[30,50]" [panelSizes]="[30, 70]" [style]="{ 'height': '88%', margin:'6px 4px 0px 4px'}">
      <!--  Panel 1 - Navigation  -->
      <ng-template pTemplate >
        <app-nav-bar class="nav-bar-styling p-2" id="navBar" (topicChangeEvent)="triggerDataTableUpdate($event)">
        </app-nav-bar>
      </ng-template>
      <!--  Panel 2 - Content   -->
      <ng-template pTemplate>
        <div class="col flex justify-content-center flex-grow-1 pt-2">
          <app-message-grid class="grid-width" ></app-message-grid>
        </div>
      </ng-template>
    </p-splitter>
  </div>

  <!--  Footer  -->
  <div class="absolute bottom-0 w-full">
    <app-footer ></app-footer>
  </div>
</div>

